:root {
    primary-font: "Playfair Display", serif;
    secondary-font: "Lato", serif;
}

img {
    width: 100%;
    max-width: 550px;
    height: 540px;
    object-fit: cover;
    border-radius: 8px;

}