:root {
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Lato", serif;
    --primary-color: rgb(255, 222, 77);
    --secondary-color: rgb(169, 196, 108);
    --tertiary-color: rgba(232, 230, 222, 0.108);
    --text-color: rgba(12, 12, 12, 0.794);
    --image-color: rgb(252, 252, 252);
    --custome-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);

}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--tertiary-color);
    font-family: var(--secondary-font);
}

h2 {
    font-family: var(--primary-font);
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 16px;
}

@media (max-width:991px) {
    .main-section {
        font-size: 1.8rem;
    }
}

a {
    text-decoration: none;
}

.project-button:hover {
    border: none;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.project-button {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 25px;
    padding: 10px 15px;
}

.custome-paragraph {
    font-family: var(--secondary-font);
    font-size: 1.1rem;
    text-align: center;
}

.custom-image {
    max-width: 100%;
    width: 350px;
    height: 125px;
    object-fit: cover;
    border-radius: 60px;
    box-shadow: var(--custome-shadow);
}

.custome-text {
    color: var(--image-color);
    font-size: 1.5rem;
    font-weight: bold;
}

li {
    list-style: none;
}

.custom-section {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 60px;
    box-shadow: var(--custome-shadow);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 42px 5px;
    position: relative;
    overflow: hidden;
}

@media (max-width:926px) {
    .custom-section {
        border-radius: 50px;
    }
}

.planet {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
}

.custom-title {
    color: var(--text-color);
    font-size: 0.9rem;
    margin-top: 25px;
}

.custome-subject {
    font-size: 1.4rem;
    color: var(--text-color);
}

@media (max-width:991px) {
    .custome-subject {
        font-size: 1rem;
    }
}

.custome-subject:hover {
    cursor: pointer;
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.custome-date {
    font-size: 1rem;
    color: var(--text-color);
}

.custome-tag {
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    font-size: 0.80rem;
    margin: 0 2px;
    padding: 5px 8px;
}

@media (max-width:991px) {
    .custome-tag {
        font-size: 0.8rem;
        display: block;
        margin-bottom: 5px;
    }
}

.custome-tag:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.custome-line {
    justify-content: center;
    height: 1px;
    background-color: var(--text-color);
    width: 100%;
    margin: 0px 10px 15px 15px;
}

.fa-solid {
    font-size: 0.85rem;
    margin-left: 10px;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

@media (max-width:991px) {
    .fa-solid {
        display: none;
    }
}